.tiptap {
  all: revert;
  padding: 0px 10px;
  height: 200px;
  max-height: 300px;
  overflow-y: scroll;
}

.tiptap * {
  all: revert;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap a {
  color: #6a00f5;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: #5800cc;
  }
}
